<script>

const btn = document.getElementById("themeToggle");
const icon = document.getElementById("themeIcon");

if (localStorage.getItem("theme") === "dark") {

    document.body.classList.add("dark-mode");

    if (icon) {
        icon.className = "bi bi-sun-fill";
    }

}

if (btn) {

    btn.onclick = function () {

        document.body.classList.toggle("dark-mode");

        if (document.body.classList.contains("dark-mode")) {

            localStorage.setItem("theme", "dark");

            icon.className = "bi bi-sun-fill";

        } else {

            localStorage.setItem("theme", "light");

            icon.className = "bi bi-moon-fill";

        }

    }

}

</script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>

window.addEventListener("load",function(){

    document.getElementById("loader").style.display="none";

});

</script>

<script>

document.querySelectorAll(".toast").forEach(function(toast){

new bootstrap.Toast(toast).show();

});

</script>

<script>

const search = document.getElementById("globalSearch");

if(search){

search.addEventListener("keyup",function(){

const value = this.value.toLowerCase();

document.querySelectorAll("tbody tr").forEach(function(row){

row.style.display =
row.innerText.toLowerCase().includes(value)
? ""
: "none";

});

});

}

</script>