.stat-card{

    background:white;

    border-radius:20px;

    padding:25px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 10px 25px rgba(0,0,0,.05);

    transition:.35s;

    height:140px;

}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 40px rgba(0,0,0,.08);

}

.stat-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.stat-icon{

    width:65px;

    height:65px;

    border-radius:18px;

    background:#EEF2FF;

    color:#4F46E5;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

}

.stat-card small{

    color:#6B7280;

    font-size:15px;

}

.stat-card h2{

    margin-top:6px;

    font-size:32px;

    font-weight:700;

}

.trend{

    padding:8px 14px;

    border-radius:30px;

    font-size:14px;

    font-weight:600;

}

.success{

    background:#DCFCE7;

    color:#16A34A;

}

.warning{

    background:#FEF3C7;

    color:#D97706;

}

.danger{

    background:#FEE2E2;

    color:#DC2626;

}