{% extends "layouts/base.html" %}

{% block title %}
404 - Page Not Found
{% endblock %}

{% block content %}

<div class="container text-center py-5">

    <h1 class="display-1 fw-bold text-primary">
        404
    </h1>

    <h3 class="mb-3">
        Oops! Page Not Found
    </h3>

    <p class="text-muted">
        The page you're looking for doesn't exist.
    </p>

    <a href="{% if session.get('role') == 'admin' %}
                {{ url_for('admin.admin') }}
            {% else %}
                {{ url_for('dashboard.dashboard') }}
            {% endif %}"
        class="btn btn-primary mt-3">

        <i class="bi bi-house-fill"></i>
        Go to Dashboard

    </a>

</div>

{% endblock %}