{% extends "layouts/base.html" %}

{% block title %}
500 - Server Error
{% endblock %}

{% block content %}

<div class="container text-center py-5">

    <h1 class="display-1 fw-bold text-danger">
        500
    </h1>

    <h3 class="mb-3">
        Internal Server Error
    </h3>

    <p class="text-muted">
        Something went wrong on the server.
        Please try again later.
    </p>

    <a href="{{ url_for('dashboard.dashboard') }}"
       class="btn btn-danger mt-3">

        <i class="bi bi-arrow-repeat"></i>
        Try Again

    </a>

</div>

{% endblock %}