<!DOCTYPE html>
<html>
<head>

<title>Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-container">

<h1>Student Login</h1>

<form method="POST" action="/login">

<input
type="email"
name="email"
placeholder="Enter Email"
required>

<input
type="password"
name="password"
placeholder="Enter Password"
required>

<button type="submit">Login</button>

</form>

<p>
Don't have an account?

<a href="/register">
Register
</a>

</p>

</div>

</body>
</html>