{% extends "layouts/public.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center"
     style="min-height:100vh;">

    <div class="login-container">

        <h1 class="mb-4">
            🎓 Student Login
        </h1>

        <form method="POST"
              action="{{ url_for('auth.login') }}">

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

        <p class="mt-3">

            Don't have an account?

            <a href="{{ url_for('auth.register') }}">
                Register
            </a>

        </p>

    </div>

</div>

{% endblock %}